.Cart{
    display:flex;
    flex-direction: column;
    width:20rem;
    height:15rem;
    text-align:center;
    position:absolute;
    margin-right:2rem;
    right:5.4rem;
    box-shadow:0rem 0.7rem 1.5rem rgba(0,0,0,0.3);
    border-radius:1rem;
    background-color:rgb(255, 255, 255);
    z-index: 100;
    cursor:pointer;
    top:5.2rem;
    margin-inline:auto;
}

.c_hidden{
    /* display:block; */
}

.top_cart{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    border-bottom:1px solid rgb(224, 224, 224);
}

.top_cart .cart_title{
    font-size:1rem;
    padding-left:1rem;
}

.content{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    gap:0.5rem;
    padding:1rem;
}

.delete{
    color:grey;
    cursor:default;
    z-index:1001;
}

.btn{
    background-color:hsl(26, 100%, 55%);
    padding: 1rem 7rem;
    border:none;
    border-radius:.5rem;
    color:white;
    text-align:center;
    font-size:1rem;
    display:flex;
    z-index: 10;
}

.checkout{
    margin: 1.5rem 1rem;
    position:relative;
    bottom:4rem;
}

.image{
    border-radius:0.4rem;
    object-fit:cover;
    width:5rem;
    height:3.5rem;
    overflow:hidden;
}

.image .thumbnail{
    border-radius:0.4rem;
    width:5.6rem;
    height:3.5rem;
    position:relative;
    right:0.9rem;
}

.info > h4{
    font-size:0.9rem;
    font-weight:400;
    color:grey;
    position:relative;
    bottom:1rem;
    padding-inline:0.5rem;
}

.price_calculator{
    display:flex;
    gap:1rem;
    align-items:center;
    justify-content:center;
    position:relative;
    bottom:4.1rem;
}

.price_calculator > h4{
    font-weight:400;
} 

.price_calculator > span{
    max-width:4rem;
    /* background-color:red; */
}

/* No item */
.noItem{
    padding:3.6rem 6rem;
}

@media screen and (max-width:767px){
    .Cart{
        width:95vw;
        height:20rem;
    }   
    .top_cart{
        padding-bottom:1.3rem;
    }

    .checkout{
        width:90%;
        margin-inline:auto;
    }
}