.focus{
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    background-color:rgba(0,0,0,0.7);
    z-index:13;
    top:0;
    bottom:0;
    right:0;
    left:0;
    flex-direction:column;
}


.f_hidden{
    display:none;
}

.f_content{
    position:relative;
    top:3rem;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}

.centerImg{
    width:35vw;
    height:fit-content;
    overflow:hidden;
    border-radius:0.6rem;
    border-radius:1rem;
}

.centerImg > img{
    width:100%;
    object-fit:cover;
    object-position:top-center;
}

/* radio */
.radio{
    display:flex;
    gap:1.9rem;
    align-items:center;
    padding:1.1rem 0.7rem;
    width:100%;
    justify-content:center;
}

.of_images img{
    width:100%;
}

.radio li{
    list-style:none;
    cursor:pointer;
    position:relative;
    overflow:hidden;
    object-fit:cover;
}
.radio li::after{
    content:"";
    background-color:white;
    opacity:0;
    position:absolute;
    top:0;
    right:0;
    bottom:2px;
    left:0;
    border-radius:0.3rem;
}

.of_images:hover::after{
    opacity:0.5;
    border:2px solid hsl(26, 100%, 55%);
}

.radio li img{
    width:4rem;
    height:4rem;
    border-radius:0.4rem;
}

/* Close */
.f_close-icon {
    color:white;
    font-size:1rem;
    font-weight:900;
    position:relative;
    top:3rem;
    left:13rem;
    display:inline-block;
    max-width:1.5rem;
    cursor:pointer;
    transform-origin:center;
    z-index:15;
}

.f_close-icon:hover{
    color: hsl(26, 100%, 55%);
}

/* .next{
    stroke:rgb(100, 100, 100);
    padding:0.6rem;
    background-color:white;
    border-radius:50%;
    width:0.7rem;
    position:relative;
    top:15rem;
    z-index: 11;
    transition:all 200ms ease-in;
    cursor:pointer;
} */

/* .next:hover{
    background-color:rgb(151, 151, 151);
} */

.f-icons{
    position:absolute;
    display:flex;
    flex-direction:row-reverse;
    z-index:14;
    gap:26rem;
    align-items:center;
}

.arrow{
    width:fit-content;
    height:fit-content;
    padding:0.5rem 0.5rem;
    background-color: white;
    border-radius:100%;
    cursor:pointer;
}

.forward{
    right:-14.5rem;
    transition:all 300ms ease-in;
}

.backwards{
    right:14.5rem;
}

@media screen and (max-width:767px){
    .f_hidden, .focus{
        display:block;
        height:fit-content;
        position:relative;
        /* bottom:1rem; */
        width:100%;
        margin-inline:auto;
    }

    .f_content{
        width:100%;
        overflow-x:hidden;
        top:0;
        max-height:fit-content;
    }
    
    .centerImg{
        height:fit-content;
        width:fit-content;
        top:0;
        position:relative;
    }

    .centerImg img{
        position:relative;
        top:0;
        width:100%;
    }

    .f-icons{
        display:flex;
        flex-direction:row-reverse;
        position:absolute;
        top:12rem;
        z-index:18;
        width:95vw;
        padding-left:0.5rem;
        gap:0;

    }

    .arrow{
        width:1rem;
        height:1rem;
        display:flex;
        align-items:center;
        justify-content:center;
        background-color:rgb(253, 244, 244);
        border-radius:100%;
        padding:0.7rem;
    }

    .arrow img{
        width:100%;
    }

    .f-icons :nth-child(1){
        margin-left:auto;
    }

    .centerImg{
        width:100%;
        margin-inline:auto;
        object-fit:contain;
    }

    .forward{
        
    }

    .radio, .f_close-icon{
        display:none;
    }

    
    
}